---
http_interactions:
- request:
    method: post
    uri: https://trunc.us/
    body:
      encoding: UTF-8
      string: '{"url":"google.com","format":"json"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"0bd16152e3088041962a7c244e0add58"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"trunct":{"token":"X6tqvC","url":"http://google.com"}}'
  recorded_at: Wed, 14 Mar 2018 18:57:14 GMT
recorded_with: VCR 3.0.3
